{{ partial "header-en-page" . }}

<div class="sections">
    <div class="container">
        <div class="pages-title">
            <h1>About Us</h1>
        </div>
    </div>
</div>
</header>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 space-break">
                <div class="about-info">
                    <div style="text-align: justify;">
                        <p>
                            We are a Global Green Energy Solutions Corporation located in Rocklin, California that
                            established in 2019 after signing exclusive partner rights with SGH (PT Saputra Global Harvest)
                            for the North American market.
                        </p>

                        <p>Our products are based on years of research and development that led to the patent of two
                            exclusive technologies in The United States of America and Indonesia. We specialize in two
                            distinct processes. One of these processes forms essential nutrients for plants and animals,
                            and
                            another that produces organic coal-based fertilizers.</p>

                        <p>Essential nutrient formation technology has proven to enhance the natural functioning of
                            plant
                            and animal cells. Similarly, coal-based fertilizer is a natural way to supply all of the
                            nutrients your plants need for improved production. It does this without <a
                                style="color: black; text-decoration: underline;"
                                href="https://e360.yale.edu/features/why-its-time-to-stop-punishing-our-soils-with-fertilizers-and-chemicals">depleting
                                soil health</a>

                            with harsh chemicals.
                            When used together, these technologies can dramatically increase crop yield and reduce your
                            reliance on synthetic chemicals.</p>

                        <p>The result?</p>

                        <p>Healthier crops, healthier soil, and a healthier environment without putting an additional
                            cost
                            to your bottom line.</p>


                        <p><span class="glogens-trademark">GLOGENS</span> is a green, eco-friendly company with a focus
                            on providing organic fertilizers and
                            amendments for farms all over the world.</p>

                        <p>Grow Better – Together - with <span class="glogens-trademark">GLOGENS</span></p>
                    </div>
                </div>
            </div>
        </div>
</section>

{{ partial "footer" . }}