{{ partial "header-en-page" . }}

<div class="sections">
    <div class="container">
        <div class="pages-title">
            <h1>About Us</h1>
            <p style="color: white;">Our Management Team And Board of Directors</p>
        </div>
    </div>
</div>
</header>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 space-break">
                <div class="about-info">
                    <div style="text-align: justify;">
                        <p>
                            We are a Global Green Energy Solutions Corporation located in Rocklin, California that
                            established in 2019 after signing exclusive partner rights with SGH (Saputra Global Harvest)
                            for the North American market.
                        </p>

                        <p>Our products are based on years of research and development that led to the patent of two
                            exclusive technologies in The United States of America and Indonesia. We specialize in two
                            distinct processes. One of these processes forms essential nutrients for plants and animals,
                            and
                            another that produces organic coal-based fertilizers.</p>

                        <p>Essential nutrient formation technology has proven to enhance the natural functioning of
                            plant
                            and animal cells. Similarly, coal-based fertilizer is a natural way to supply all of the
                            nutrients your plants need for improved production. It does this without <a
                                style="color: black; text-decoration: underline;"
                                href="https://e360.yale.edu/features/why-its-time-to-stop-punishing-our-soils-with-fertilizers-and-chemicals">depleting
                                soil health</a>

                            with harsh chemicals.
                            When used together, these technologies can dramatically increase crop yield and reduce your
                            reliance on synthetic chemicals.</p>

                        <p>The result?</p>

                        <p>Healthier crops, healthier soil, and a healthier environment without putting an additional
                            cost
                            to your bottom line.</p>


                        <p><span class="glogens-trademark">GLOGENS</span> is a green, eco-friendly company with a focus
                            on providing organic fertilizers and
                            amendments for farms all over the world.</p>

                        <p>Grow Better – Together - <span class="glogens-trademark">GLOGENS</span></p>
                    </div>
                </div>
            </div>
        </div>
</section>
<section>
    <a name="management-team"></a>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3><span class="glogens-trademark">GLOGENS</span> Management Team</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <img class="img-fluid" src="{{ .Site.BaseURL }}/img/images/team/glogens-team-ceo-steve-budiono.jpg"
                    alt="GLOGENS CEO - Steve Budiono">
            </div>
            <div class="col-md-9 col-sm-12">
                <h3>Chief Executive Officer: Steve Budiono </h3>
                <p style="text-align: justify;">Steve Budiono is both President and Chief Executive Officer of the
                    company. He studied at the
                    University of Southern California in Business Administration and International Relations. He later
                    earned Business Leadership Management from the Wharton School of Business at the University of
                    Pennsylvania. With over 15 years of experience in the finance industry, Budiono is one of the
                    Co-founders of the Global Green Energy Solutions Corporation.</p>
            </div>
        </div>
    </div>

    <a name="board-of-directors"></a>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3><span class="glogens-trademark">GLOGENS</span> Board of Directors</h3>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <img class="img-fluid" src="{{ .Site.BaseURL }}/img/images/team/glogens-team-chairman-nancy.jpg"
                    alt="GLOGENS Chairman - Nancy Bui-Thompson">
            </div>
            <div class="col-md-9 col-sm-12">
                <h3>
                    Chairman: Nancy Bui-Thompson
                </h3>
                <p style="text-align: justify;">
                    Nancy Bui-Thompson is not only a publicly elected member of the country’s sixth-largest public
                    utility
                    company, Sacramento Municipal Utility District, but she is also an accomplished technology
                    management
                    professional with nearly two decades of experience. She is also a Director of Transformation and
                    Integration, Strategy, and Execution at Health Net and the recipient of recent “Women Who Mean
                    Business,”
                    German Marshall Fund of the United States, and “40 Under 40” awards.
                </p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-3 col-sm-12">
                <img class="img-fluid" src="{{ .Site.BaseURL }}/img/images/team/glogens-team-ceo-steve-budiono.jpg"
                    alt="GLOGENS CEO - Steve Budiono">
            </div>
            <div class="col-md-9 col-sm-12">
                <h3>President: Steve Budiono </h3>
                <p style="text-align: justify;">Steve Budiono is both President and Chief Executive Officer of the
                    company. He studied at the University of Southern California in Business Administration and
                    International Relations. He later earned Business Leadership Management from the Wharton School of
                    Business at the University of Pennsylvania. With over 15 years of experience in the finance
                    industry, Budiono is one of the Co-founders of the Global Green Energy Solutions Corporation.</p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-3 col-sm-12">
                <img class="img-fluid" src="{{ .Site.BaseURL }}/img/images/team/glogens-team-vp-brian.jpg"
                    alt="GLOGENS Vice President - Brian Boyd">
            </div>
            <div class="col-md-9 col-sm-12">
                <h3>
                    Vice President: Brian Boyd
                </h3>
                <p style="text-align: justify;">
                    Co-founder and managing partner of Boyd Wealth Management in Sacramento, California, Brian has
                    worked tirelessly since 1996 to help high- net-worth families and business owners achieve true
                    financial independence. He is highly credentialed - ChFC®, CFP - and is a member of the Advisory
                    Council to Make-A-Wish® Foundation of Northeastern California and Northern Nevada. Brian and his
                    wife Susan live in Sacramento and with their two boys, Cameron and Graeme. In his free time, Brian
                    enjoys golf and travel.
                </p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-3 col-sm-12">
                <img class="img-fluid" src="{{ .Site.BaseURL }}/img/images/team/glogens-team-sec-mike.jpg"
                    alt="GLOGENS Secretary - Mike Abrate">
            </div>
            <div class="col-md-9 col-sm-12">
                <h3>
                    Secretary: Mike Abrate
                </h3>
                <p style="text-align: justify;">
                    A lifelong resident of Sacramento, Michael Abrate is a successful attorney with attention to detail
                    and community success. He is an alumnus of the University of the Pacific McGeorge School of Law,
                    Sacramento State University, and, perhaps most proudly, Jesuit High School. He was a 2017 and 2018
                    nominee to the California Super Lawyers Rising Stars List and the recipient of the prestigious
                    Witkin Award while in college. He has served as a Deputy District Attorney. Most recently, he
                    partnered with Daniel Olsen to form the Abrate and Olsen Law Group, where he now practices law in
                    the areas of business law, estate planning, and criminal defense.
                </p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-3 col-sm-12">
                <img class="img-fluid" src="{{ .Site.BaseURL }}/img/images/team/glogens-team-treasurer-uriel.png"
                    alt="GLOGENS Treasurer - Uriel Carrazco">
            </div>
            <div class="col-md-9 col-sm-12">
                <h3>
                    Treasurer: Uriel Carrazco
                </h3>
                <p style="text-align: justify;">
                    Uriel Carrazco, CPA, is the founder of Carrazco & Associates Innovative Tax Solutions, an accounting
                    and tax advisory firm with a focus on bringing innovative tax solutions and management strategies to
                    businesses of all kinds. This company has a roster of more than 1,000 clients. Uri is an expert in
                    everything from Federal and State Hiring Credits to Employment Training Panel Incentives (and
                    everything in between!). He is a graduate of Cal Poly University - San Luis Obispo, and has a
                    stellar client retention record within his organization.
                </p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-3 col-sm-12">
                <img class="img-fluid" src="{{ .Site.BaseURL }}/img/images/team/glogens-team-member-davy.jpg"
                    alt="GLOGENS Secretary - Mike Abrate">
            </div>
            <div class="col-md-9 col-sm-12">
                <h3>
                    Member: Davy Makimian
                </h3>
                <p style="text-align: justify;">
                    Davy Makimian is a graduate of Bond University Australia, where he pursued a bachelor’s and master’s
                    degree in Management and International Relationships. He has experience in the fields of business
                    management, property management, manufacturing, and IT for more than a decade. Davy is the Chief
                    Executive Officer of Alternative Media Group, Mr. Montir, Saputra Global Harvest, and he is also one
                    of the Co-founders of Global Green Energy Solutions Corporation.
                </p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-3 col-sm-12">
                <img class="img-fluid" src="{{ .Site.BaseURL }}/img/images/team/glogens-team-member-angelo.jpg"
                    alt="GLOGENS Secretary - Mike Abrate">
            </div>
            <div class="col-md-9 col-sm-12">
                <h3>
                    Member: Angelo Christie
                </h3>
                <p style="text-align: justify;">
                    Angelo Christie is a Sacramento native who is dedicated to driving profitable ventures that also
                    mutually benefit the local community. He earned a Bachelor of Economics from the University of
                    California, Davis, and a Master of Real Estate Development from the University of Southern
                    California. Currently, he is a Director of Reclamation District 2035, a California organization
                    responsible for managing irrigation water, levees, and drainage facilities for more than 20,000
                    acres of farmland in Yolo County. Christie also oversees a variety of other real estate investments,
                    land development projects, environmental permitting/mitigation, and farming projects throughout the
                    Sacramento regions for AKT Investments, and its affiliated group of companies.
                </p>
            </div>
        </div>
    </div>
</section>


{{ partial "footer" . }}