{{ partial "header-en-page-poultry" . }}

<div class="sections">
    <div class="container">
        <div class="pages-title">
            <h1><span class="glogens-trademark">GLOGENS</span> Organic Poultry Nutrient</h1>
            <!-- Breadcrumbs -->
            <ul class="breadcrumb">
                <li>Our Products</li>
            </ul>
            <!--/ Breadcrumbs -->
        </div>
    </div>
</div>
</header>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about-info">
                    <h2>Scientific Background</h2>
                    <p style="text-align: justify;">
                        Poultry productivity is determined by the quality and quantity of feed. Feed quality is
                        influenced by the content of various nutrients, such as energy, protein, minerals, vitamins,
                        amino acids, and fats. Balance of energy and protein is important because it can affect the
                        microbial fermentation process in the rumen (for mammals).
                    </p>
                    <p style="text-align: justify;">
                        <span class="glogens-trademark">GLOGENS</span> Organic Nutrient contains amino acids, fatty acids, mono saccharides, oligosaccharides,
                        vitamins, and minerals needed by all living things, it will help the metabolic system to be more
                        effective and efficient. <span class="glogens-trademark">GLOGENS</span> Organic technology provides balanced essential nutritional needs for
                        Poultry by utilizing the excretion of metabolic products.
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-info">
                    <h5>HIGH QUALITY IN FEED</h5>
                    <p style="text-align: justify;">The raw material of feed must be qualified (expensive price)</p>

                    <h5>PROBIOTICS</h5>
                    <p style="text-align: justify;">Helping digestion process</p>

                    <h5>ENZIM</h5>
                    <p style="text-align: justify;">Helping digestion process</p>
                </div>
            </div>
            <div class="col-lg-6 space-break">
                <div class="about-info">
                    <h5>ESSENTIAL NUTRIENT PRECURSORS</h5>
                    <p style="text-align: justify;">
                        * It can form essential nutrient in the body. One of the process is
                        converting ammonia and H2S to be amino acid, it will reduce the feces.
                    </p>

                    <p style="text-align: justify;">
                        * <span class="glogens-trademark">GLOGENS</span> Organic Technolgies is the first in the world to do the process.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="text-center">STATE OF THE ART PRECURSOR OF ESSENTIAL NUTRIENT</h2>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <figure class="about-pic">
                    <img src="{{ .Site.BaseURL }}/img/images/saputra-nutrient-poultry-types.jpg"
                        alt="GLOGENS Organic Liquid Nutrient For Poultry">
                </figure>
            </div>
            <div class="col-lg-6 space-break">
                <div class="about-info">
                    <h3>Dosage of Broiler</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Age</th>
                                <th>Dosage</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1-7 day</td>
                                <td>10 ml/1000 head/day</td>
                            </tr>
                            <tr>
                                <td>8-14 day</td>
                                <td>15 ml/1000 head/day</td>
                            </tr>
                            <tr>
                                <td>15-21 day</td>
                                <td>20 ml/1000 head/day</td>
                            </tr>
                            <tr>
                                <td>22-28 day</td>
                                <td>25 ml/1000 head/day</td>
                            </tr>
                            <tr>
                                <td>29-harvest</td>
                                <td>30 ml/1000 head/day</td>
                            </tr>
                            <tr>
                                <td colspan="2">Note: 10 ml = 1 lid of bottle</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="about-info">
                    <h3>Dosage of Layer</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Age</th>
                                <th>Dosage</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1-4 week</td>
                                <td>5 ml/1000 head/day</td>
                            </tr>
                            <tr>
                                <td>5-8 week</td>
                                <td>10 ml/1000 head/day</td>
                            </tr>
                            <tr>
                                <td>9-12 week</td>
                                <td>15 ml/1000 head/day</td>
                            </tr>
                            <tr>
                                <td>13-16 week</td>
                                <td>20 ml/1000 head/day</td>
                            </tr>
                            <tr>
                                <td>17 week -</td>
                                <td>25 ml/1000 head/day</td>
                            </tr>
                            <tr>
                                <td colspan="2">Note: 10 ml = 1 lid of bottle</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about-info">
                    <h3>1. CONVENTIONAL SYSTEM IN THE BODY</h3>
                </div>
                <div class="about-pic">
                    <img src="{{ .Site.BaseURL }}/img/images/livestock-metabolism.jpg"
                        alt="conventional system in the body">
                </div>
                <br>
                <div class="about-info">
                    <h3>2. <span class="glogens-trademark">GLOGENS</span> Organic EFFECTS ON METABOLISM SYSTEM (Product type I - Powder)</h3>
                </div>
                <div class="about-pic">
                    <img src="{{ .Site.BaseURL }}/img/images/livestock-metabolism-glogens-effect-1.jpg"
                        alt="GLOGENS livestock nutrients powder effect on metabolism">
                </div>
                <br>
                <div class="about-info">
                    <h3>3. <span class="glogens-trademark">GLOGENS</span> Organic EFFECTS ON METABOLISM SYSTEM (Product type II - Liquid)</h3>
                </div>
                <div class="about-pic">
                    <img src="{{ .Site.BaseURL }}/img/images/livestock-metabolism-glogens-effect-2.jpg"
                        alt="GLOGENS Organic livestock nutrient liquid effect on metabolism">
                </div>
            </div>
        </div>
    </div>
</section>


{{ partial "footer" . }}