{{ partial "header-en-page" . }}

<div class="sections">
    <div class="container">
        <div class="pages-title">
            <h1><span class="glogens-trademark">Glogens</span> Organic Plant And Fruit Nutrients</h1>
            <!-- Breadcrumbs -->
            <ul class="breadcrumb">
                <li>Our Products</li>
            </ul>
            <!--/ Breadcrumbs -->
        </div>
    </div>
</div>
</header>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about-info">
                    <h2>Scientific Background</h2>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="about-info" style="text-align: justify;">
                    <p>
                        For plants to be healthy and productive, they need chlorophyll. Without chlorophyll, plants
                        would not exist. It's as
                        simple as that.
                    </p>
                    <p>
                        However, for plants to effectively synthesize chlorophyll for the well-known metabolic process
                        of photosynthesis, they
                        need a specific amino acid. That amino acid is named glutamic acid.
                    </p>
                    <p>
                        <span class="glogens-trademark">GLOGENS</span> Organic Plant Nutrients contains all the glutamic
                        acid your plants need for enhanced
                        chlorophyll production.
                    </p>
                </div>
                <div class="about-pic">
                    <img src="{{ .Site.BaseURL }}/img/images/1-biosynthesis-process-of-chlorophyll.jpg"
                        alt="Biosynthesis process of chlorophyll">
                    <br><br>
                </div>
                <div class="about-pic">
                    <img src="{{ .Site.BaseURL }}/img/images/2-biosynthesis-process-of-fat.jpg"
                        alt="biosynthesis process of fat">
                    <br><br>
                </div>
                <div class="about-pic">
                    <img src="{{ .Site.BaseURL }}/img/images/3-biosynthesis-of-acetyl-co-a.jpg"
                        alt="bio synthesis process of acetyl co a">
                    <br><br>
                </div>
            </div>

            <div class="col-lg-12 space-break">

            </div>
            <div class="col-lg-12">
                <div class="about-info">
                    <p>Sure, your plants can handle photosynthesis on their own. But with <span
                            class="glogens-trademark">GLOGENS</span> Organic Plant
                        Nutrients, they will be
                        healthier, greener, and more productive.</p>

                    <p>
                        This plant nutrient provides the fatty acids your plants need for improved metabolic efficiency.
                        Not only can it help
                        your plants grow more quickly and vigorously, but it can make them stronger, too.
                    </p>

                    <p>
                        GROW HEALTHIER PLANTS WITH THE HEALING POWER OF <span class="glogens-trademark">GLOGENS</span>
                        ORGANIC PLANT NUTRIENT
                        BENEFITS
                    </p>
                    <p>
                        ● Improves cellular structure and metabolic functioning of plants <br>
                        ● Dramatically improves plant yields and quality upon application <br>
                        ● Available in 3 different sizes <br>
                        ● Dosages available for vegetative and generative phases of growth <br>
                        ● All mixing and application can be made with the equipment you already have <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="about-info">
                    <h5>ESSENTIAL NUTRIENT PATHWAY</h5>
                    <p style="text-align: justify;">
                        All living things cannot fulfil their own an essential nutritional needs, therefore why living
                        things have to eat.
                    </p>

                    <p style="text-align: justify;">
                        The cycle is illustrates that the process of forming essential nutrient takes place in nature.
                    </p>

                    <p style="text-align: justify;">
                        With <span class="glogens-trademark">GLOGENS</span> Organic technology,
                        the forming of essential nutrient is producing on an industrial scale.
                    </p>
                </div>
            </div>
            <div class="col-lg-8 space-break">
                <div class="about-pic">
                    <img src="{{ .Site.BaseURL }}/img/images/essential-nutrient-pathway.jpg"
                        alt="essential nutrient pathway">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-pic">
                    <img src="{{ .Site.BaseURL }}/img/images/glogens-organic-plant-and-crystalize-nutrients.jpg"
                        alt="GLOGENS organic plant and crystalize nutrients">
                    <p class="text-center"><a href="mailto:info@glogens.com" class="btn btn-hover-corner">Click Here To Order</a></p>
                </div>
            </div>
            <div class="col-lg-6 space-break">
                <h3>Application Method</h3>
                <p style="text-align: justify;">
                    You'll receive a package with two separate compartments of brown powder and white crystal. The
                    essential nutrient is formed when you combine the two substances. Apply no later than two days after
                    mixing for best results.
                </p>
                <h3>Dosage</h3>
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                <strong>2.5 (2.2lbs.) bag /acre</strong> <br>
                                or 1 teaspoon mixed with 1-liter water for 10 (5) gallon plant pot
                            </td>
                            <td>Spray on the plants during <u>Vegetative Phase</u>.</td>
                        </tr>
                        <tr>
                            <td>
                                <strong>1.25 (200gram) bag/acre </strong> <br>
                                or 1 teaspoon mixed with 1-liter water for 10 (5) gallon plant pot
                            </td>
                            <td>Spray on the plants during <u>Generative Phase</u>.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>


{{ partial "footer" . }}