{{ partial "header-en-home" . }}

<style>
    section p {
        margin-bottom: 20px;
    }
</style>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 space-break">
                <div class="ha-rightside">
                    <h3>About Us</h3>
                    <p style="text-align: justify;">
                        We are a Global Green Energy Solutions Corporation located in Rocklin, California that
                        established in 2019 after signing exclusive partner rights with SGH (Saputra Global Harvest) for
                        the North American market.
                    </p>
                    <p style="text-align:justify">
                        Our products are based on years of research and development that led to the patent of
                        <strong>two exclusive technologies</strong>
                        in The United States of America and Indonesia. We specialize in two
                        distinct processes. One of these processes forms essential nutrients for plants and animals, and
                        another that produces organic coal-based fertilizers.
                    </p>
                    <p style="text-align:justify">
                        Essential nutrient formation technology has proven to enhance the natural functioning of plant
                        and animal cells. Similarly, coal-based fertilizer is a natural way to supply all of the
                        nutrients your plants need for improved production. It does this without <a
                            style="color:darkgreen;"
                            href="https://e360.yale.edu/features/why-its-time-to-stop-punishing-our-soils-with-fertilizers-and-chemicals">depleting
                            soil health</a>
                        with harsh chemicals.
                    </p>
                    <p style="text-align:justify">
                        When used together, these technologies can dramatically increase crop yield and reduce your
                        reliance on synthetic chemicals.
                    </p>
                    <p>
                        The result?
                    </p>
                    <p style="text-align:justify;">
                        Healthier crops, healthier soil, and a healthier environment - all without putting a dent on
                        your bottom line.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-xl-6 ws-right">
            </div>

            <div class="col-lg-8 col-xl-6 ws-lefside alt-home">
                <div class="ws-content-alt">
                    <h5>Why Us?</h5>
                    <h3 style="color: white;">Our Technology Takes the Lead</h3>
                    <p style="text-align: justify;">
                        Conventional agriculture is at a crossroads. <br>
                        On the one hand, <a style="color:lime;"
                            href="https://aces.illinois.edu/news/study-reveals-nitrogen-fertilizers-deplete-soil-organic-carbon">most
                            research</a>
                        recognizes that using synthetic fertilizers repeatedly is not a
                        good idea. A good fertilizer will supply nutrients that your plants need while also supporting
                        the life of microorganisms and good soil structure.
                    </p>
                    <p style="text-align: justify;">
                        Soil health isn’t based on the presence of N-P-K alone - there are lots of variables required to
                        grow healthy crops.
                    </p>
                    <p style="text-align: justify;">
                        With our innovative technology and environmentally friendly products, farmers will now be able
                        to increase their production yields. You’ll have healthier crops and healthier soils – all while
                        saving thousands of dollars on production.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid counter-bar-alt">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">&nbsp;</div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="box-layers" style="margin::100px 0 0 0;">
            <div class="row">
                <div class="col-lg-12 col-xl-12 left-layer">
                    <div class="ws-content-alt" style="text-align: justify;">
                        <p class="text-b"><span class="glogens-trademark">GLOGENS®</span> Organic has taken advantage of
                            these two patented unique processes that
                            offer the best of
                            both worlds.</p>

                        <p class="text-b">In our essential nutrient process, we looked at ways that we could improve
                            yield
                            by using what
                            Mother Nature has already given us. Plants have everything they need to take care of
                            themselves.
                        </p>

                        <p class="text-b">But what if there was a way to improve yield by making them more efficient?
                        </p>

                        <p class="text-b">Essential nutrients contain fatty acids, amino acids, vitamins, minerals,
                            saccharides, and
                            oligosaccharides. All of these are elements needed by all living creatures to sustain
                            growth.
                        </p>

                        <p class="text-b">When this nutrient is added, a plant’s metabolic system becomes more efficient
                            at
                            absorbing and
                            using things like water, sunlight, and air.</p>

                        <p class="text-b">For example, plants need glutamic acid to produce heavy yields. Amino acids by
                            themselves, though,
                            aren’t necessarily effective at boosting plant growth. It requires a unique blend of
                            nutrients
                            and
                            precise methods of extraction to render these elements useful for plants.</p>

                        <p class="text-b">We have that technology - and bring it directly to you in a usable form in our
                            proprietary <span class="glogens-trademark">GLOGENS®</span>
                            Organic Micro-Carbon Fertilizer.</p>

                        <p class="text-b">But that’s not all. Our eco-friendly fertilizers also harness the natural
                            power of
                            coal. Coal is the
                            result of the decomposition of plants as they become fossils.</p>

                        <p class="text-b">It contains all of the elements required by plants for growth - but not just
                            any
                            old coal will do the
                            trick. You need to be able to activate the dormant nutrients that are locked inside.</p>

                        <p class="text-b"><span class="glogens-trademark">GLOGENS®</span> Organic Micro-Carbon
                            Fertilizer is
                            the only fertilizer with the ability
                            to do just that.</p>

                        <p class="text-b">Whether you’re looking to increase your yield without increasing your budget,
                            reduce your reliance on
                            chemicals, grow an organic dynamite crop, or simply improve soil health in a sustainable,
                            eco-friendly
                            way, <span class="glogens-trademark">GLOGENS®</span> Organic is the way to go.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="section-title">
            <h2>Our Products</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h4 class="text-center">GLOGENS® Organic <br> Plant Nutrient</h4>
                <p><img src="{{ .Site.BaseURL }}/img/images/product-img-plant.jpg" alt="" class="img-fluid"></p>
                
                <p>
                    No living thing can fulfill its nutritional needs on its own - nothing is a closed-loop. That’s why
                    all
                    living things have to eat. And plants are no exception.
                    <br><br>
                    Plants need glutamic acid, along with other essential amino acids, to synthesize chlorophyll. Our
                    eco-friendly products harness the power of glutamic acid and convert it into a usable form for
                    plants.
                    <br><br>
                    We can enhance chlorophyll production and help you grow greener, healthier, and more productive
                    plants.
                    <br><br>
                    Our plant nutrient also contains other valuable enzymes that can help your plants: <br>
                    ● Increase metabolic efficiency so they can do more with the water, nutrients, and soil they are
                    provided <br>
                    ● Become more structurally sound to reduce environmental stressors <br>
                    ● Increase their respiration efficiency through the formation of additional carbohydrates and fatty
                    acids
                    <br><br>
                    This plant nutrient is easy to apply and available in multiple sizes and doses for various stages of
                    plant growth.
                </p>
                <p>
                    <a href="{{ .Site.BaseURL }}/glogens-plant-and-fruit-nutrients" class="btn btn-hover-corner">
                        Learn More: <br> Glogens Organic <br> Plant &amp; Fruit Nutrient</a>
                </p>
            </div>
            <div class="col-md-4">
                <h4 class="text-center">GLOGENS® Organic Livestock, Poultry, and Fisheries Nutrients</h4>
                <p><img src="{{ .Site.BaseURL }}/img/images/product-img-livestock.jpg" alt="" class="img-fluid"></p>
                <p>
                    When it comes to raising livestock, fish, and poultry, your productivity depends solely on the
                    quality
                    and quantity of your feed.

                    <br><br>

                    And your animals <strong>depend on you</strong> to make the right feed choice.

                    <br><br>

                    Feed quality can be determined by a variety of factors, including nutrient percentage and the
                    balance of
                    protein and energy. This balance influences not only the weight of gain for your animals but also
                    the
                    microbial fermentation process (essential for animals with rumens).

                    <br><br>

                    Here’s how our livestock, fisheries, and poultry nutrients are different: <br>
                    ● Contains all the amino acids, vitamins, and minerals your animals need to be healthy <br>
                    ● Improves metabolic functioning with a balanced nutritional profile <br>
                    ● Contains probiotics and enzymes to aid in digestion <br>
                    ● Easy to use

                    <br><br>

                    We’re the first company in the world to create a technology that can produce more nutritious
                    livestock
                    feed without being more expensive. Our process creates a feed that essentially teaches an animal’s
                    body
                    to work more effectively.
                </p>
                <p class="text-center">                    
                    <a href="{{ .Site.BaseURL }}/glogens-livestock-nutrients" class="btn btn-hover-corner">Learn More: <br> Glogens Organic <br> Livestock Nutrient</a>
                    <br><br>
                    <a href="{{ .Site.BaseURL }}/glogens-poultry-nutrients" class="btn btn-hover-corner">Learn More: <br> Glogens Organic <br> Poultry Nutrient</a>
                    <br><br>
                    <a href="{{ .Site.BaseURL }}/glogens-fisheries-nutrients" class="btn btn-hover-corner">Learn More: <br> Glogens Organic <br> Fisheries Nutrient</a>
                </p>

            </div>
            <div class="col-md-4">
                <h4 class="text-center">GLOGENS® Organic <br> Micro-Carbon Fertilizer</h4>
                <p><img src="{{ .Site.BaseURL }}/img/images/futura-coal-fertilizer.jpg" alt="" class="img-fluid"></p>                
                <p>
                    At face value, there’s nothing complicated about coal. It’s a combustible sedimentary rock that’s
                    formed
                    from organic deposits - typically, the remains of plants.
                    
                    <br><br>

                    When plants die and are fossilized, those nutrients don’t just go away. Instead, they remain inside
                    coal, where they remain complete and balanced - just waiting to be unlocked.

                    <br><br>

                    When coal is harvested, it contains 23 elements that are vital for plant growth. That’s more than
                    seven
                    times what you’ll find in traditional fertilizers.

                    <br><br>

                    You’ll get the best output from your plants by offering them plants themselves - but in a highly
                    digestible and usable form.

                    <br><br>

                    Our discovery with coal-based technology improves plant growth in a simple way. It activates the
                    latent
                    nutrients in coal and makes it easier for plants to use. It’s a premium product with premium results
                    –
                    but offered at an affordable price.
                </p>
                <p class="text-center">                    
                    <a href="{{ .Site.BaseURL }}/glogens-organic-micro-carbon-fertilizer" class="btn btn-hover-corner">Learn More: <br> Glogens Organic <br> Micro Carbon Nutrient</a>
                </p>
            </div>
        </div>
    </div>
</section>



{{ partial "footer" . }}