{{ partial "header-en-home" . }}

<style>
    section p {
        margin-bottom: 20px;
    }
</style>
<!-- 
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 space-break">
                <div class="section-title">
                    <h3>Introducing</h3>
                    <h2>GLOGENS Organic</h2>
                </div>
            </div>
            <div class="col-lg-4 col-xl-6 ws-right">
            </div>

            <div class="col-lg-8 col-xl-6 ws-lefside alt-home">
                <div class="ws-content-alt">
                    <h3 style="color: white;">Our Patented Technology Takes the Lead</h3>
                    <p style="text-align: justify;">
                        Conventional agriculture is at a crossroads. <br>
                        On the one hand, <a style="color:black; text-decoration: underline;"
                            href="https://aces.illinois.edu/news/study-reveals-nitrogen-fertilizers-deplete-soil-organic-carbon">most
                            research</a>
                        recognizes that using synthetic fertilizers repeatedly is not a
                        good idea. A good fertilizer will supply nutrients that your plants need while also supporting
                        the life of microorganisms and good soil structure.
                    </p>
                    <p style="text-align: justify;">
                        Soil health isn’t based on the presence of N-P-K alone - there are lots of variables required to
                        grow healthy crops.
                    </p>
                    <p style="text-align: justify;">
                        With our innovative technology and environmentally friendly products, farmers will now be able
                        to increase their production yields. You’ll have healthier crops and healthier soils – all while
                        saving thousands of dollars on production.
                    </p>
                </div>
            </div> 
        </div>
    </div>
</section>
<section>
    <div class="container-fluid counter-bar-alt">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">&nbsp;</div>
            </div>
        </div>
    </div>
</section> -->
<section>
    <div class="container box-layers">
        <div style="margin:280px 0 0 0;">
            <div class="row">
                <div class="col-lg-12 col-xl-12 left-layer">                    
                    <div class="ws-content-alt" style="text-align: justify;">
                        <div class="section-title">
                            <h3>Introducing</h3>
                            <h2 style="color: black;">GLOGENS Organic</h2>
                            <h5 style="color: #333;">Our Patented Technologies Takes The Lead</h5>
                        </div>
                        <p class="text-b">
                            Conventional agriculture is at a crossroads. <br>
                            On the one hand, <a style="color:black; text-decoration: underline;"
                                href="https://aces.illinois.edu/news/study-reveals-nitrogen-fertilizers-deplete-soil-organic-carbon">most
                                research</a>
                            recognizes that using synthetic fertilizers repeatedly is not a
                            good idea. A good fertilizer will supply nutrients that your plants need while also supporting
                            the life of microorganisms and good soil structure.
                        </p>
                        <p class="text-b">
                            Soil health isn’t based on the presence of N-P-K alone - there are lots of variables required to
                            grow healthy crops.
                        </p>
                        <p class="text-b">
                            With our innovative technology and environmentally friendly products, farmers will now be able
                            to increase their production yields. You’ll have healthier crops and healthier soils – all while
                            saving thousands of dollars on production.
                        </p>
                        <p class="text-b"><span class="glogens-trademark">GLOGENS</span> Organic has taken advantage of
                            these two patented unique processes that
                            offer the best of
                            both worlds.</p>

                        <p class="text-b">In our essential nutrient process, we looked at ways that we could improve
                            yield
                            by using what
                            Mother Nature has already given us. Plants have everything they need to take care of
                            themselves.
                        </p>

                        <p class="text-b">But what if there was a way to improve yield by making them more efficient?
                        </p>

                        <p class="text-b">Essential nutrients contain fatty acids, amino acids, vitamins, minerals,
                            saccharides, and
                            oligosaccharides. All of these are elements needed by all living creatures to sustain
                            growth.
                        </p>

                        <p class="text-b">When this nutrient is added, a plant’s metabolic system becomes more efficient
                            at
                            absorbing and
                            using things like water, sunlight, and air.</p>

                        <p class="text-b">For example, plants need glutamic acid to produce heavy yields. Amino acids by
                            themselves, though,
                            <a href="https://www.frontiersin.org/articles/10.3389/fpls.2017.00847/full" style="color: black;  text-decoration: underline;">aren’t necessarily effective</a> at boosting plant growth. It requires a unique blend of
                            nutrients
                            and
                            precise methods of extraction to render these elements useful for plants.</p>

                        <p class="text-b">We have that technology - and bring it directly to you in a usable form in our
                            proprietary <span class="glogens-trademark">GLOGENS</span>
                            Organic Micro-Carbon Fertilizer.</p>

                        <p class="text-b">But that’s not all. Our eco-friendly fertilizers also harness the natural
                            power of
                            coal. Coal is the
                            result of the decomposition of plants as they become fossils.</p>

                        <p class="text-b">It contains all of the elements required by plants for growth - but not just
                            any
                            old coal will do the
                            trick. You need to be able to activate the dormant nutrients that are locked inside.</p>

                        <p class="text-b"><span class="glogens-trademark">GLOGENS</span> Organic Micro-Carbon
                            Fertilizer is
                            the only fertilizer with the ability
                            to do just that.</p>

                        <p class="text-b">Whether you’re looking to increase your yield without increasing your budget,
                            reduce your reliance on
                            chemicals, grow an organic dynamite crop, or simply improve soil health in a sustainable,
                            eco-friendly
                            way, <span class="glogens-trademark">GLOGENS</span> Organic is the way to go.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{ partial "footer" . }}