{{ partial "header-en-page" . }}

<div class="sections">
    <div class="container">
        <div class="pages-title">
            <h1><span class="glogens-trademark">GLOGENS</span> Management Team</h1>
        </div>
    </div>
</div>
</header>

<section>
    <div class="container">
        <div class="row">
            <!-- <div class="col-md-3 col-sm-12">
                <img class="img-fluid" src="{{ .Site.BaseURL }}/img/images/team/glogens-team-ceo-steve-budiono.jpg"
                    alt="GLOGENS CEO - Steve Budiono">
            </div> -->
            <div class="col-md-12 col-sm-12">
                <h3>Steve Budiono, Chief Executive Officer</h3>
                <p style="text-align: justify;">Steve Budiono is both President and Chief Executive Officer of the
                    company. He studied at the
                    University of Southern California in Business Administration and International Relations. He later
                    earned Business Leadership Management from the Wharton School of Business at the University of
                    Pennsylvania. With over 15 years of experience in the finance industry, Budiono is one of the
                    Co-founders of the Global Green Energy Solutions Corporation.</p>
            </div>
        </div>
    </div>
</section>


{{ partial "footer" . }}