{{ partial "header-en-page" . }}

<div class="sections">
    <div class="container">
        <div class="pages-title">
            <h1>Why Us?</h1>
            <p style="color: white;">Our Mission Statements And Core Values</p>
        </div>
    </div>
</div>
</header>

<section>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 space-break">
                <div class="about-info">
                    <div style="text-align: justify;">
                        <p>
                            At <span class="glogens-trademark">GLOGENS</span>, we care about the environment - and we care about you.
                        </p>
                        <p>
                            For us, it wasn’t enough to create an eco-friendly fertilizer. We wanted to make a
                            fertilizer that
                            could help make things better all around.
                        </p>
                        <p>
                            Our all-natural fertilizers produce healthier plants and healthier soils. They work with the
                            environment instead of against it, helping to improve your yields immediately as well as in
                            the long term.
                        </p>
                        <a name="mission-statement"></a> 
                        <p>
                            Whether you’re a farmer or an eco-conscious business that specializes in the production of
                            organic fertilizers, <span class="glogens-trademark">GLOGENS</span> is here to help you improve your business and cut costs, all
                            while supporting Mother Earth herself.
                        </p>

                        

                        <h4>
                            Our dedication is evidenced in our mission statement:
                        </h4>

                        <a name="core-values"></a>

                        <p>
                            “<span class="glogens-trademark">GLOGENS</span> is dedicated to a sustainable future. We aim to improve the economic, social, and
                            environmental well-being of the community by offering eco-friendly, organic solutions for
                            livestock, fisheries, and plant producers. We hope to give back to local communities by
                            providing affordable solutions that improve local and global environmental quality.”
                        </p>

                        <h3>Our core values:</h3>

                        <h5><span class="glogens-trademark">G</span>od</h5>

                        <p>We believe in supporting the land that God has given us. Our fertilizers don’t destroy the
                            Earth
                            that we’ve been blessed to receive but instead, support and nourish it. We think that it’s
                            important for us to partner with eco-friendly farmers and producers who also want to produce
                            a
                            clean, safe place to live that honors creation and future generations.</p>

                        <h5><span class="glogens-trademark">L</span>and and Water</h5>

                        <p>
                            At <span class="glogens-trademark">GLOGENS</span>, we know that sustainability matters on both land and water. That’s why we
                            create
                            products not just for livestock and plants, but also for fisheries.
                        </p>

                        <h5><span class="glogens-trademark">O</span>rganic Solution</h5>

                        <p>
                            Our dedication to organic solutions at <span class="glogens-trademark">GLOGENS</span> is timeless and unwavering. We produce
                            certified organic fertilizers and supplements that are free from harmful processes,
                            ingredients, and materials. Our goal is to support the environment and encourage it to help
                            us in a natural way by offering the soil exactly what it needs - instead of forcing it to
                            bend to our needs.
                        </p>

                        <h5>
                            <span class="glogens-trademark">G</span>lobal Connectivity
                        </h5>

                        <p>
                            Environmental sustainability is not an individual problem - it is a global goal. That’s why,
                            at <span class="glogens-trademark">GLOGENS</span>, we believe in keeping people connected across borders. Our products and
                            agricultural solutions connect farmers and other stakeholders with the solutions they need,
                            regardless of where they might live.
                        </p>

                        <h5><span class="glogens-trademark">E</span>nvironmental Quality</h5>

                        <p>
                            At <span class="glogens-trademark">GLOGENS</span>, we pride ourselves in providing our customers with the highest-quality products
                            that improve environmental quality. We work directly with farmers and other stakeholders who
                            care about the land, the crops, the people, and the environment. We strive daily to improve
                            our
                            prices, processes, and market opportunities so that we can continue to improve the
                            environmental
                            benefits of our products.
                        </p>

                        <h5><span class="glogens-trademark">N</span>eighborly Relationships</h5>

                        <p>
                            <span class="glogens-trademark">GLOGENS</span> strives to create a community with sustainable, meaningful values. We provide a
                            legitimate and rewarding livelihood for our employees and also work with local farmers and
                            stakeholders in the creation and distribution of our products. We want to help enhance the
                            health and well-being of the local community.
                        </p>

                        <h5><span class="glogens-trademark">S</span>ustainability</h5>

                        <p>
                            At <span class="glogens-trademark">GLOGENS</span>, our products center around a healthy, sustainable community that will be
                            successful
                            in both the short- and long term. We want to be the inspiration for other sustainable
                            enterprises and farm solutions to help enhance the health of our environment for years to
                            come.
                        </p>



                    </div>

                </div>
            </div>
        </div>
    </div>

</section>


{{ partial "footer" . }}